#scoring {
    background-color: #ececec;
    height: 100%;

    h1 {
        background: #00e676;
    }

    .done {
        float: right;
        margin: 5px 20px;
        margin-bottom: 30px;
        padding: 5px 20px;
        color: #76ff03;
        font-weight: bold;
        font-size: 24px;
    }
}

.score-card {
    .score-table {
        padding: 25px 25px;

        .jersey {
            position: relative;
            font-size: 14px;
            flex: 1 1 0;
            align-items: center;

            &:after {
                content: '\f0c8';
                position: absolute;
                font-family: FontAwesome;
                font-style: normal;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-shadow: 1px 0 black,
                             0 1px black,
                             -1px 0 black,
                             0 -1px black;
            }

            &.red:after { color: #f44336; }
            &.blue:after { color: #2196f3; }
            &.yellow:after { color: #ffeb3b; }
            &.white:after { color: white; }
            &.green:after { color: #4caf50; }
            &.pink:after { color: #ff4081; }
        }

    }

    .title-row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-weight: bold;
        text-align: center;

        .jersey {
            padding-bottom: 15px;
        }

        .jersey:after {
            display: none;
        }
    }

    @hover-color: rgba(255,202,40, 0.3);
    @hover-color-light: rgba(255,202,40, 0.1);

    .score-row {
        display: flex;
        justify-content: center;
        flex-direction: row;

        &:hover {
            background-color: @hover-color-light;
        }

        &.disabled {
            opacity: 0.3;
        }
    }

    .hover-wave-0 .wave.number-0 { background-color: @hover-color-light; }
    .hover-wave-1 .wave.number-1 { background-color: @hover-color-light; }
    .hover-wave-2 .wave.number-2 { background-color: @hover-color-light; }
    .hover-wave-3 .wave.number-3 { background-color: @hover-color-light; }
    .hover-wave-4 .wave.number-4 { background-color: @hover-color-light; }
    .hover-wave-5 .wave.number-5 { background-color: @hover-color-light; }
    .hover-wave-6 .wave.number-6 { background-color: @hover-color-light; }
    .hover-wave-7 .wave.number-7 { background-color: @hover-color-light; }
    .hover-wave-8 .wave.number-8 { background-color: @hover-color-light; }
    .hover-wave-9 .wave.number-9 { background-color: @hover-color-light; }

    .wave {
        padding: 0 2px;
        flex: 1 1 0;
        align-items: center;

        &.title {
            padding-bottom: 15px;
            font-size: 14px;
            text-align: center;

            &:hover {
                background-color: white;
            }
        }

        input {
            padding: 10px 0;
            background: transparent;
            text-align: center;
        }

        .field {
            label {
                display: none;
            }

            margin: 0;
        }

        &:hover {
            background-color: @hover-color;
        }
    }
}
