#show-event {
    font-size: 24px;

    h2 i {
        margin-right: 20px;
    }

    hr {
        margin: 35px auto;
    }

    .heat-header {
        padding: 5px 20px;
        margin-bottom: 25px;
    }

    .division{
        .division-count {
            display: inline-block;
            width: 50%;
        }

        a {
            display: inline-block;
            width: 50%;
        }
    }

    .event-schedule {
        .time {
            display: inline-block;
            width: 50%;
        }

        i {
            margin-right: 20px;
        }
    }

    .edit {
        margin-top: 20px;
    }

    .event-next-heat {
        .time {
            display: inline-block;
            width: 50%;
        }

        .scores {
            margin-top: 35px;
        }

        i {
            margin-right: 20px;
            width: 25px;
        }

        .end-action {
            float: right;
            .spinner {
                float: left;
            }
        }

        .start-action {
            float: left;
        }
    }
}
