#spectate {
    .display{
        padding: 0 50px 0 50px;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        &.header {
            height: 10vh;
        }
        &.main {
            height: 90vh;
        }
    }

    .active-heats {
        position: relative;
        flex: 3 1 0;

        .live-heat {
            display: flex;
            flex-direction: row;

            .scores {
                flex: 1 1 0;
            }
        }

        .loading {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-align: center;

            .spinner {
                margin: 0 auto;
                display: block;
            }

            .content {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .message {
                font-family: @serif;
                font-size: 24px;
                margin-bottom: 35px;
            }
        }
    }

    .previous-heats {
        margin-left: 20px;
        flex: 1 1 0;
    }

    .upcoming-heats {
        position: relative;
        margin-left: 20px;
        flex: 1 1 0;

        .heat {
            position: relative;

            .heat-time {
                position: absolute;
                font-family: @sans-serif;
                right: 10px;
                top: 5px;
                font-weight: bold;
                color: #eee;

                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .heat-list-item {
        scroll-behavior: smooth;
    }

    .marquee {
        height: 100vh;
        overflow-y: scroll;
    }

    .last-heat-score {
        .last-heat-results {
            position: relative;
        }

        .heat-results {
            margin-bottom: 40px;
        }
    }
}
