#live-judging {
    background-color: #ececec;
    height: 100%;

    h1 {
        background: #546e7a;
    }

    .wrapper {
        position: relative;
        min-height: 95vh - @site-header-height;
    }

    .connection-indicator {
        font-size: 14px;
        position: absolute;
        right: @page-horiz-padding;
        top: -15px;
        transition: color ease-in 200ms;
        margin-bottom: 30px;
        font-family: @sans-serif;
        transform: translate(0, -150%);

        &.connected {
            color: #00b0ff;
        }

        &.disconnected {
            color: #f44336;
        }
    }

    .loading {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        .spinner {
            margin: 0 auto;
            display: block;
        }

        .content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .message {
            font-family: @serif;
            font-size: 24px;
            margin-bottom: 35px;
        }
    }
}
