.timeline {
    @row-height: 50px;
    @tick-height: 90 * @row-height / 24 / 4;

    display: flex;
    width: 100%;

    .empty {
        min-height: @row-height;
    }

    .heat {
        header {
            font-family: @serif;
            font-weight: bold;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        cursor: move;
        height: 100%;
        color: white;
        font-family: @sans-serif;

        &.groms {
            background: #512da8;
        }

        &.opens {
            background: #ff5722;
        }

        &.masters {
            background: #2196f3;
        }

        padding: 5px 20px;
    }

    .times {
        flex: 5 1 0;
    }

    .ticks {
        flex: 1 1 0;

        .tick {
            height: @tick-height;
        }
    }

    .time-row {
        width: 100%;
        height: @row-height;
        position: relative;

        &.offhours {
            background: #9e9e9e;
        }

        .time {
            position: absolute;
            width: 20%;
            height: 100%;
            background: @info-color;
            padding: 5px 10px;
            font-family: @serif;
            font-weight: bold;
            color: white;
            border-right: 2px solid @info-color;
            text-align: right;
        }
    }

    .time-cell {
        position: absolute;
        width: 50%;
        height: 100%;
        border-bottom: 1px dotted #ccc;

        &.right {
            left: 50%;
        }
    }
}
