.timeline-header {
    display: flex;
    width: 100%;

    .bank {
        flex: 5 1 0;
        text-align: center;
        font-family: @serif;
        font-size: 24px;
        padding-bottom: 20px;
    }

    .times {
        flex: 2 1 0;
    }
}

.timeline {
    @row-height: 50px;
    @tick-height: 90 * @row-height / 24 / 4;

    display: flex;
    width: 100%;

    .empty {
        min-height: @row-height;
    }

    .heat {
        header {
            font-family: @serif;
            font-weight: bold;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px 20px;
        cursor: move;
        height: 100%;
        color: white;
        font-family: @sans-serif;
        background: #b6b6b6;
        position: relative;

        &.groms {
            background: #512da8;
        }

        &.open {
            background: #ff5722;
        }

        &.master {
            background: #2196f3;
        }

        &.women {
            background: #e91e63;
        }

        .heat-time {
            position: absolute;
            font-family: @sans-serif;
            right: 5px;
            top: 5px;
            color: grey;
            font-size: 11px;
            font-weight: bold;
            color: #bdbdbd;
        }
    }

    .times {
        flex: 5 1 0;
    }

    .ticks {
        background: #eee;
        flex: 1 1 0;

        .tick {
            position: relative;
            height: @tick-height;
            font-weight: bold;

            .big-tick, .small-tick {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                line-height: @tick-height;
                padding: 0 25px;
            }

            .small-tick:after, .big-tick:after {
                position: absolute;
                content: ' ';
                width: 15px;
                height: 1px;
                background: @info-color;
                top: 50%;
                right: 5px;
                transform: translate(0, 50%);
            }

            .small-tick:after {
                width: 10px;
            }
        }
    }

    .time-row {
        width: 100%;
        height: @row-height;
        position: relative;

        &.offhours {
            background: #9e9e9e;
        }
    }

    .time-cell {
        position: absolute;
        width: 50%;
        height: 100%;
        border-bottom: 1px dotted #ccc;

        &.right {
            left: 50%;
        }
    }
}
