@import "palette";

.button.flat {
    text-transform: uppercase;
    color: @button-primary-background-color;
    margin: 5px 20px;

    background: transparent;
    border: none;

    &:hover {
        color: darken(@button-primary-background-color, 10%);
        background: transparent;
        border: none;
    }
}

.button, button {
    color: @button-text-color;
    border: 0;
    text-decoration: none;
    outline: none;
    vertical-align: top;
    padding: 5px 20px;
    transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
    cursor: pointer;
    border-radius: 3px;
    background-color: @button-primary-background-color;
    border-bottom: 4px solid darken(@button-primary-background-color, 10%);
    display: inline-block;

    &:hover {
        background-color: lighten(@button-primary-background-color, 15%);
        border-color: lighten(@button-primary-background-color, 10%);
    }

    a {
        color: @button-text-color;
        text-decoration: none;
    }

    &.secondary {
        background-color: @button-secondary-background-color;
        border-bottom: 4px solid darken(@button-secondary-background-color, 10%);

        &:hover {
            background-color: lighten(@button-secondary-background-color, 5%);
            border-color: lighten(@button-secondary-background-color, 2%);
        }
    }

    &.tertiary {
        background-color: @button-tertiary-background-color;
        border-bottom: 4px solid darken(@button-tertiary-background-color, 10%);

        &:hover {
            background-color: lighten(@button-tertiary-background-color, 5%);
            border-color: lighten(@button-tertiary-background-color, 2%);
        }
    }

    &.danger {
        background-color: @error-color;
        border-bottom: 4px solid darken(@error-color, 10%);

        &:hover {
            background-color: lighten(@error-color, 5%);
            border-color: lighten(@error-color, 2%);
        }
    }

    &.left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.floating {
        position: fixed;
        right: @page-horiz-padding;
        bottom: @page-vert-padding;
        z-index: 2;

        @size: 56px;
        width: @size;
        height: @size;

        border-radius: 50%;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px,
                    rgba(0, 0, 0, 0.227451) 0px 3px 10px;

        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
        }

        .spinner {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-85%, -50%);
        }
    }
}
