header.heat-header {
    padding: 20px;
    color: white;
    font-family: @serif;
    font-size: 18px;

    &.micro { background: @groms-color; }
    &.trial { background: @groms-color; }
    &.opens { background: @open-color; }
    &.masters { background: @master-color; }
    &.girls { background: @women-color; }
    &.gm { background: @gm-color; }
    &.juniors { background: @juniors-color; }
    &.cadets { background: @cadets-color; }
}

